numpy>=1.9.2
scipy>=0.19.1
matplotlib>=2.0.0
librosa>=0.7.0
six>=1.10.0
future>=0.16.0
soundfile>=0.9.0
pyyaml>=5.1
msgpack-python>=0.4.8
ujson>=1.35
requests>=2.12.4
tqdm>=4.11.2
pydot-ng>=1.0.0
pafy>=0.5.5
youtube-dl>=2020.2.16
validators>=0.12.0
pyparsing>=2.2.0
titlecase>=0.12.0
colorama>=0.3.7
python-magic>=0.4.13
markdown>=2.6.9
jinja2>=2.6.9