numpy>=1.9.2
matplotlib>=2.0.0
librosa>=0.5.0
six>=1.10.0
soundfile>=0.9.0
coloredlogs>=5.2
tqdm >=4.11.2
pyyaml>=3.11
msgpack-python>=0.4.8
pydot-ng >= 1.0.0
pafy>=0.5.3.1
youtube-dl>=2017.10.1
pandas>=0.19.2
validators>=0.12.0
pyparsing>=2.2.0
requests>=2.12.4
titlecase>=0.12.0
ujson>=1.35
scipy>=0.19.1
colorama>=0.3.7
python-magic>=0.4.13