p {
    text-align: justify;
    text-justify: inter-word;
}

.caption-text{
    text-align: center;
    font-size: 16px;
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-weight: normal;
    font-style: italic;
}

.wy-side-nav-search{
    background-color: #418a84;
}

.rst-content table.docutils {
    width: 100%;
}

.width-25 {
    width: 25% !important;
}

.width-50 {
    width: 50% !important;
}

.width-75 {
    width: 75% !important;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}